.header__naviBtn {
    color: white;
    text-decoration: none;
    margin-left: 10%;
    font-size: 30px;
    font-family: 'Potta One', cursive;
}

.header__naviBtn:visited {
    color: white;
}

.header__naviBtn:first-child {
    margin-left: 0;
}